// LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
LANGUAGE 0x04, 0x02
#pragma code_page(936)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION 3,5,832,201
 PRODUCTVERSION 3,5,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "Actech"
            VALUE "FileDescription", "PMC-HMI Runtime"
            VALUE "FileVersion", "3.5.832.201"
            VALUE "InternalName", "mcview"
            VALUE "LegalCopyright", "Actech"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "mcview"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "PC-Based Monitoring And Controlling System"
            VALUE "ProductVersion", "3.5.832.0"
            VALUE "SpecialBuild", "\0"
            VALUE "зїеп", "sOycola@SMTH"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
